// Colors
$deep-blue: #022873;
$royal-blue: #0367A6;
$pale-sky: #DCF0F2;
$sunset: #F2AC57;
$bright-orange: #F25116;
$white: #F2F2F2;
$pale-gray: #D9D9D9;
$medium-gray: #737373;
$dark-gray: #404040;
$black: #0D0D0D;

body {
  background-color: $black;
  color: $white;
}